@model Project_Maverick.Models.Hour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
