@model Project_Maverick.Models.InvoiceModelNEAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceModelNEAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Controlled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Controlled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproveDate)
        </dd>

    </dl>
</div>


            <!--List existing Posts-->
            @{Html.RenderAction("_ListPosts", "InvoiceNEAS");}

<table>
    <tr>
        <td>

            @{Html.RenderAction("_AddPost", "InvoiceNEAS", new { postID = Model.ID });}
            
            <!--Create New Post-->

        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
